* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#conteudo_principal {
    padding: 40px;
    align-items: center;
}
#section_nivel_danoninho {
    background-color: beige;
    padding: 80px;
}

#cabecalho_secundario {
    height: 40px;
    background-color: brown;
}

#conteudo_principal_section {
    display: flex;
    background-color: rgb(253, 253, 253);
    padding: 10px 0px;
   
}
.estruturas_semanticas_secundaria {
    background-color:brown;
}

.article_nivel_cafe {
    width: 220px;
    height: 300px;
    background-color: rgb(82, 0, 0);
    margin: 10px;
}
#section_nivel_cafe {
    order: 1;
    margin-left: 10px;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    flex-wrap: wrap;
    gap: 15px;
}

#aside_nivel_cafe {
    width: 25vw;
}

#rodape_secundario {
    height: 40px;
    background-color: brown;
}


